// LOAD FONTS
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
// Variables
$background: #EEE0D6;
$text-color: #746f6A;
$white:      white;
$blue:       #0076A3;
$yellow:     #CFA53E;
$font-body:   'Playfair'
// list properties
//$font-family: 'Playfair';
//$margins: 4em 4em 4em;
